<div>
    <h2>
        <span jhiTranslate="triviaApp.pregunta.home.title">Preguntas</span>
        <button class="btn btn-primary float-right jh-create-entity create-pregunta" [routerLink]="['/', { outlets: { popup: ['pregunta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triviaApp.pregunta.home.createLabel">
            Create new Pregunta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="preguntas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cortaDescripcion"><span jhiTranslate="triviaApp.pregunta.cortaDescripcion">Corta Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="triviaApp.pregunta.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pista"><span jhiTranslate="triviaApp.pregunta.pista">Pista</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoPregunta"><span jhiTranslate="triviaApp.pregunta.tipoPregunta">Tipo Pregunta</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pregunta of preguntas ;trackBy: trackId">
                <td><a [routerLink]="['../pregunta', pregunta.id ]">{{pregunta.id}}</a></td>
                <td>{{pregunta.cortaDescripcion}}</td>
                <td>{{pregunta.descripcion}}</td>
                <td>{{pregunta.pista}}</td>
                <td jhiTranslate="{{'triviaApp.TipoPregunta.' + pregunta.tipoPregunta}}">{{pregunta.tipoPregunta}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pregunta', pregunta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pregunta/'+ pregunta.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pregunta/'+ pregunta.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="preguntas && preguntas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
