<div>
    <h2>
        <span jhiTranslate="triviaApp.expedicionuser.home.title">Expedicionusers</span>
        <button class="btn btn-primary float-right jh-create-entity create-expedicionuser" [routerLink]="['/', { outlets: { popup: ['expedicionuser-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triviaApp.expedicionuser.home.createLabel">
            Create new Expedicionuser
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="expedicionusers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nickname"><span jhiTranslate="triviaApp.expedicionuser.nickname">Nickname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaRegistro"><span jhiTranslate="triviaApp.expedicionuser.fechaRegistro">Fecha Registro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="useridId"><span jhiTranslate="triviaApp.expedicionuser.userid">Userid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expedicionNombre"><span jhiTranslate="triviaApp.expedicionuser.expedicion">Expedicion</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expedicionuser of expedicionusers ;trackBy: trackId">
                <td><a [routerLink]="['../expedicionuser', expedicionuser.id ]">{{expedicionuser.id}}</a></td>
                <td>{{expedicionuser.nickname}}</td>
                <td>{{expedicionuser.fechaRegistro | date:'mediumDate'}}</td>
                <td>
                    {{expedicionuser.useridId}}
                </td>
                <td>
                    <div *ngIf="expedicionuser.expedicionId">
                        <a [routerLink]="['../expedicion', expedicionuser.expedicionId  ]" >{{expedicionuser.expedicionNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../expedicionuser', expedicionuser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expedicionuser/'+ expedicionuser.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expedicionuser/'+ expedicionuser.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="expedicionusers && expedicionusers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
