<div>
    <h2>
        <span jhiTranslate="triviaApp.galerias.home.title">Galerias</span>
        <button class="btn btn-primary float-right jh-create-entity create-galerias" [routerLink]="['/', { outlets: { popup: ['galerias-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triviaApp.galerias.home.createLabel">
            Create new Galerias
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="galerias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uri"><span jhiTranslate="triviaApp.galerias.uri">Uri</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoArchivo"><span jhiTranslate="triviaApp.galerias.tipoArchivo">Tipo Archivo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let galerias of galerias ;trackBy: trackId">
                <td><a [routerLink]="['../galerias', galerias.id ]">{{galerias.id}}</a></td>
                <td>{{galerias.uri}}</td>
                <td jhiTranslate="{{'triviaApp.TipoArchivo.' + galerias.tipoArchivo}}">{{galerias.tipoArchivo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../galerias', galerias.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'galerias/'+ galerias.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'galerias/'+ galerias.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="galerias && galerias.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
