<div>
    <h2>
        <span jhiTranslate="triviaApp.publicidad.home.title">Publicidads</span>
        <button class="btn btn-primary float-right jh-create-entity create-publicidad" [routerLink]="['/', { outlets: { popup: ['publicidad-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triviaApp.publicidad.home.createLabel">
            Create new Publicidad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="publicidads">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="titulo"><span jhiTranslate="triviaApp.publicidad.titulo">Titulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="triviaApp.publicidad.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="premiodescripcion"><span jhiTranslate="triviaApp.publicidad.premiodescripcion">Premiodescripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="empresasRazonSocial"><span jhiTranslate="triviaApp.publicidad.empresas">Empresas</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let publicidad of publicidads ;trackBy: trackId">
                <td><a [routerLink]="['../publicidad', publicidad.id ]">{{publicidad.id}}</a></td>
                <td>{{publicidad.titulo}}</td>
                <td>{{publicidad.descripcion}}</td>
                <td>{{publicidad.premiodescripcion}}</td>
                <td>
                    <div *ngIf="publicidad.empresasId">
                        <a [routerLink]="['../empresas', publicidad.empresasId  ]" >{{publicidad.empresasRazonSocial}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../publicidad', publicidad.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'publicidad/'+ publicidad.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'publicidad/'+ publicidad.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="publicidads && publicidads.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
