<div>
    <h2>
        <span jhiTranslate="triviaApp.respuesta.home.title">Respuestas</span>
        <button class="btn btn-primary float-right jh-create-entity create-respuesta" [routerLink]="['/', { outlets: { popup: ['respuesta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="triviaApp.respuesta.home.createLabel">
            Create new Respuesta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="respuestas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cortaDescripcion"><span jhiTranslate="triviaApp.respuesta.cortaDescripcion">Corta Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="triviaApp.respuesta.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preguntaCortaDescripcion"><span jhiTranslate="triviaApp.respuesta.pregunta">Pregunta</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let respuesta of respuestas ;trackBy: trackId">
                <td><a [routerLink]="['../respuesta', respuesta.id ]">{{respuesta.id}}</a></td>
                <td>{{respuesta.cortaDescripcion}}</td>
                <td>{{respuesta.descripcion}}</td>
                <td>
                    <div *ngIf="respuesta.preguntaId">
                        <a [routerLink]="['../pregunta', respuesta.preguntaId  ]" >{{respuesta.preguntaCortaDescripcion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../respuesta', respuesta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'respuesta/'+ respuesta.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'respuesta/'+ respuesta.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="respuestas && respuestas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
